<% layout('/layouts/default.html', {title: '密码信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('密码信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('info:infoPassword:edit')){ %>
					<a href="${ctx}/info/infoPassword/form" class="btn btn-default btnTool" title="${text('新增密码信息')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${infoPassword}" action="${ctx}/info/infoPassword/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('平台')}：</label>
					<div class="control-inline">
						<#form:input path="platform" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户名')}：</label>
					<div class="control-inline">
						<#form:input path="username" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('电子邮箱')}：</label>
					<div class="control-inline">
						<#form:input path="email" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号')}：</label>
					<div class="control-inline">
						<#form:input path="mobilePhone" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('密保问题1')}：</label>
					<div class="control-inline">
						<#form:input path="question1" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('密保问题2')}：</label>
					<div class="control-inline">
						<#form:input path="question2" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('密保问题3')}：</label>
					<div class="control-inline">
						<#form:input path="question3" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('属于用户')}：</label>
					<div class="control-inline">
						<#form:input path="belongTo" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updateTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("平台")}', name:'platform', index:'a.platform', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/info/infoPassword/form?id='+row.id+'" class="btnList" data-title="${text("编辑密码信息")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("用户名")}', name:'username', index:'a.username', width:150, align:"left"},
		{header:'${text("电子邮箱")}', name:'email', index:'a.email', width:150, align:"left"},
		{header:'${text("手机号")}', name:'mobilePhone', index:'a.mobile_phone', width:150, align:"left"},
		{header:'${text("密保问题1")}', name:'question1', index:'a.question1', width:150, align:"left"},
		{header:'${text("密保问题2")}', name:'question2', index:'a.question2', width:150, align:"left"},
		{header:'${text("密保问题3")}', name:'question3', index:'a.question3', width:150, align:"left"},
		{header:'${text("属于用户")}', name:'belongTo', index:'a.belong_to', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updateTime', index:'a.update_time', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('info:infoPassword:edit')){ %>
				actions.push('<a href="${ctx}/info/infoPassword/form?id='+row.id+'" class="btnList" title="${text("编辑密码信息")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/info/infoPassword/delete?id='+row.id+'" class="btnList" title="${text("删除密码信息")}" data-confirm="${text("确认要删除该密码信息吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>